html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ABOVE THIS LINE IS CSS RESET CODE */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Esteban", sans-serif;
}

header {
  background-color: #515c96;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.face {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #515c96;
  padding: 20px 10px;
}

.space {
  width: 80px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #515c96;
}

.about {
  background-color: white;
  max-width: 800px;
  min-width: 300px;
  margin: auto;
}
.about-content {
  background-color: rgba(81, 92, 150, 0.08);
  padding: 30px;
  font-size: 25px;
  line-height: 35px;
}
.projects {
  background-color: rgba(81, 92, 150, 0.08);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 840px;
  /* margin: 30px; */
}

.projects-content {
  background-color: white;
  display: flex;
  width: 350px;
  padding: 15px;
}

.screenshots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  flex: 1;
}
.screenshot {
  width: 145px;
  height: 145px;
  margin: 5px 0px;
}

.project-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  margin: 5px;
}

.project-btns {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project-btns a {
  text-decoration: none;
}

.project-btns a:hover {
  border: 2px #515c96 solid;
}
a:hover {
  text-decoration: underline;
}

.project-btn {
  background-color: rgba(81, 92, 150, 0.08);
  width: 125px;
  height: 40px;
  color: #515c96;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #515c96;
  text-align: center;
  font-weight: 600;
}

.content-container {
  border-radius: 10px;
  margin: 15px 0 15px 0;
}

footer {
  background-color: #676767;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer a {
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Esteban", sans-serif;
  font-size: 20px;
}

.logo {
  margin: 15px;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Esteban", sans-serif;
  font-weight: 500;
}

h2 {
  color: white;
  font-size: 25px;
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

h3 {
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 80px 0 10px 0;
}

h4 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.fade1 {
  background: linear-gradient(
    180deg,
    #515c96 0.8%,
    rgba(171, 176, 204, 0.484375) 51.54%,
    rgba(255, 255, 255, 0) 99.2%,
    rgba(151, 156, 183, 0.818146) 99.2%,
    #ffffff 99.2%
  );
  height: 100px;
}

.fade2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.08) 0.8%,
    rgba(255, 255, 255, 0) 0.8%,
    rgba(151, 156, 183, 0.0654517) 57.56%,
    rgba(81, 92, 150, 0.08) 99.2%
  );
  height: 100px;
  width: 100%;
}

.fade3 {
  background: linear-gradient(180deg, rgba(81, 92, 150, 0.08) 0%, #676767 100%);
  height: 100px;
}

@media screen and (min-width: 700px) {
  /* tablet */
  .face {
    height: 150px;
    width: 150px;
  }

  .nav-bar a {
    font-size: 20px;
  }

  nav {
    padding: 20px 100px;
  }

  .space {
    width: 145px;
  }

  .content-container {
    margin: 30px 15px;
  }

  .about {
    min-width: 400;
  }
  .contact {
    flex-direction: row;
    width: 750px;
  }

  h1 {
    font-size: 65px;
    font-family: "Esteban", sans-serif;
    font-weight: 500;
  }
}
